<!-- A div containing a picture of the pokemon, their type(s) and matching color(s), flavor text and their Pokedex Number -->

<div class="outer-pokecard">
  <div class="inner-pokecard">
    <img
      src="{{ pokecard.imageUrl }}"
      alt="{{ pokecard.name }}"
      class="poke-image"
    />
    <div class="break"></div>

    <div class="number-box">
      <p style="margin: 0">#{{ pokecard.number | number: "3.0-0" }}</p>
    </div>
    <div class="break"></div>
    <p class="description">
      {{ pokecard.flavorText }}
    </p>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Pok%C3%A9mon_Grass_Type_Icon.svg"
      alt="grass type"
      class="first-type"
    />
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Pok%C3%A9mon_Grass_Type_Icon.svg"
      alt="grass type"
      class="second-type"
    />
  </div>
</div>
