<!-- A div containing a picture of the pokemon, their type(s) and matching color(s), flavor text and their Pokedex Number -->

<div class="outer-pokecard" [ngStyle]="cardColor">
  <div class="inner-pokecard">
    <img
      src="{{ activeCard.imageUrl }}"
      alt="{{ activeCard.name }}"
      class="front-image"
    />

    <div class="number-box">
      <p style="margin: 0">#{{ activeCard.number | number: "3.0-0" }}</p>
    </div>

    <img
      src="{{ activeCard.backImageUrl }}"
      alt="{{ activeCard.name }}"
      class="rear-image"
    />
    <img [src]="types[0]" class="first-type" />
    <img [src]="types[1]" class="second-type" />
    <div class="left-name-holder">
      <div [fittext]="true">{{ activeCard.name | titlecase }}</div>
    </div>
    <div class="right-name-holder">
      <div [fittext]="true">
        {{ activeCard.name | titlecase }}
      </div>
    </div>
  </div>
</div>
