<!-- A div containing a picture of the pokemon, their type(s) and matching color(s), flavor text and their Pokedex Number -->

<div class="outer-pokecard">
  <div class="inner-pokecard">
    <img
      src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png"
      alt="bulbasaur"
      class="poke-image"
    />
    <div class="break"></div>

    <div class="number-box">
      <p style="margin: 0">#001</p>
    </div>
    <div class="break"></div>
    <p class="description">
      For some time after its birth, it grows by gaining nourishment from the
      seed on its back.
    </p>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Pok%C3%A9mon_Grass_Type_Icon.svg"
      alt="grass type"
      class="first-type"
    />
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Pok%C3%A9mon_Grass_Type_Icon.svg"
      alt="grass type"
      class="second-type"
    />
  </div>
</div>
