.pokeflex {
  display: flex;
  flex-basis: 10rem;
  flex-wrap: wrap;
  align-items: stretch;
}

cdk-virtual-scroll-viewport {
  min-height: 100%;
  width: 100%;
}

.scroll-row {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: space-between;
}
